apiVersion: v1
kind: Secret
metadata:
  name: ci-config
  namespace: ansible-dev
data:
  GITHUB_TOKEN: "{{ github_token | b64encode }}"
  AH_HOST: "{{ aap_host | b64encode }}"
  AH_PASSWORD: "{{ aap_password | b64encode }}"
  AH_USERNAME: "{{ admin | b64encode }}"
  