---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ ocp_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
      - name: {{ app_name }}
        imagePullPolicy: Always
        image: {{ app_image }}
        ports:
        - containerPort: {{ app_port }}
          protocol: TCP
        livenessProbe:
          initialDelaySeconds: 30
          tcpSocket:
            port: {{ app_port }}
          timeoutSeconds: 1
          failureThreshold: 10
          periodSeconds: 20
        readinessProbe:
          httpGet:
            port: {{ app_port }}
            path: /
          initialDelaySeconds: 30
          timeoutSeconds: 10
        resources:
          limits:
            memory: 32Mi

---
apiVersion: v1
kind: Service
metadata:
  name: {{ ocp_service }}
  namespace: {{ ocp_namespace }}
spec:
  selector:
    app: {{ app_name }}
  ports:
    - name: {{ app_name }}-{{ app_port }}
      protocol: TCP
      port: {{ app_port }}
      targetPort: {{ app_port }}

---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ ocp_route }}
  namespace: {{ ocp_namespace }}
  labels:
    app: {{ app_name }}
spec:
  host: {{ app_name }}.{{ ingress_domain }}
  path: /
  to:
    kind: Service
    name: {{ ocp_service }}
  port:
    targetPort: {{ app_port }}